In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.stats.diagnostic import het_breuschpagan
import scipy.stats as stats

In [3]:
data=pd.read_csv(r"C:\Users\rakes\OneDrive\Documents\ExcelR\Assignments\Assignment-5\ToyotaCorolla.csv",encoding='latin-1')

In [54]:
corolla=data[["Price","Age_08_04","KM","HP","cc","Doors","Gears","Quarterly_Tax","Weight"]]

In [6]:
corolla.corr()

,Price,Age_08_04,KM,HP,cc,Doors,Gears,Quarterly_Tax,Weight
Price,1.000000,-0.876590,-0.569960,0.314990,0.126389,0.185326,0.063104,0.219197,0.581198
Age_08_04,-0.876590,1.000000,0.505672,-0.156622,-0.098084,-0.148359,-0.005364,-0.198431,-0.470253
KM,-0.569960,0.505672,1.000000,-0.333538,0.102683,-0.036197,0.015023,0.278165,-0.028598
HP,0.314990,-0.156622,-0.333538,1.000000,0.035856,0.092424,0.209477,-0.298432,0.089614
cc,0.126389,-0.098084,0.102683,0.035856,1.000000,0.079903,0.014629,0.306996,0.335637
Doors,0.185326,-0.148359,-0.036197,0.092424,0.079903,1.000000,-0.160141,0.109363,0.302618
Gears,0.063104,-0.005364,0.015023,0.209477,0.014629,-0.160141,1.000000,-0.005452,0.020613
Quarterly_Tax,0.219197,-0.198431,0.278165,-0.298432,0.306996,0.109363,-0.005452,1.000000,0.626134
Weight,0.581198,-0.470253,-0.028598,0.089614,0.335637,0.302618,0.020613,0.626134,1.000000

In [30]:
lm=smf.ols('np.sqrt(Price)~np.sqrt(Age_08_04) + np.sqrt(KM) +np.sqrt(HP) +np.sqrt(cc) +np.sqrt(Doors) + np.sqrt(Gears) +np.sqrt(Quarterly_Tax) + np.sqrt(Weight)',data=corolla).fit()

In [34]:
lm.rsquared
lm.aic

9192.861826110748

In [35]:
lm.resid

0      -11.199943
1       -7.802551
2       -9.068878
3       -2.791737
4       -6.250595
          ...
1431    -8.162487
1432    10.933019
1433    -1.767758
1434    -9.270231
1435   -20.203989
Length: 1436, dtype: float64

In [37]:
np.sum((lm.resid)**2)/len(corolla)

34.85869061829655

In [60]:
x=1/corolla.Price

In [61]:
# On Response variable
from scipy.stats import boxcox
lm9=smf.ols('x~Age_08_04 + KM + HP + cc + Doors + Gears + Quarterly_Tax + Weight',data=corolla).fit()
print('r2 =',lm9.rsquared,'\n','r2_adj =',lm9.rsquared_adj,'\n','AIC=',lm9.aic)

r2 = 0.7723314982054815
 r2_adj = 0.7710551506130806
 AIC= -28161.303182143234

In [62]:
boxcox(corolla.Price)[1]

-0.7945605201753394